<article class="post-card mv3 mv4-l{{#if featured}} pv3 nl3 nr3 nl4-m nr4-m ph3 ph4-m bg-yk-blue{{/if}}">
  {{#if feature_image}}<div class="flex-m">{{/if}}
    {{#if feature_image}}
      <a class="flex items-center w-40-m" href="{{url}}">
        <picture class="overflow-hidden">
          <img src="{{feature_image}}" alt="{{title}}">
        </picture>
      </a>
    {{/if}}

    <div class="{{#if feature_image}}w-60-m pl3-m pl4-l{{else}} w-100{{/if}} flex flex-column justify-center">
      <section class="f7 ttu tracked mt3">
        <time datetime="{{date format='YYYY-MM-DD'}}"></time>
        {{#primary_tag}}<a href="{{url}}" class="normal no-underline">{{name}}</a>{{/primary_tag}}
      </section> 
      <h2 class="f3 mt1 mb2"><a href="{{url}}">{{title}}</a></h2>
      <p>{{excerpt}}</p>
      {{!-- <p class="mt2"><a class="btn-ghost" href="{{url}}">Read the article</a></p> --}}
    </div>

  {{#if feature_image}}</div>{{/if}}

  <footer class="flex justify-between f7 ttu">
    <div class="pv2 pastel-blue o-80 bt bw1 b--yk-blue">
      {{reading_time}}
    </div>
    <div>
      <a href="{{url}}" class="btn-ghost">Read now</a>
    </div>
  </footer>

</article>
